<div class="no-task-message" *ngIf="tasks.length === 0">
    No task available
</div>

<div class="task-list" *ngFor="let task of tasks | taskStatusFilter : 'Incomplete'">
    <div class="task-container" appHoverEffect [appOverdueHighlight]="task.dueDate">
        <h2 class="task-title">{{ task.title }}</h2>
        <p class="task-description">{{ task.description }}</p>
        <p class="task-detail bold-text">Due Date: {{ task.dueDate }}</p>
        <p class="task-detail bold-text">Status: {{ task.status }}</p>
        <p class="task-detail bold-text">Priority: {{ task.priority }}</p>
        <div class="button-container">
            <button class="edit-button" (click)="onEdit(task)">Edit</button>
        </div>
    </div>
</div>

<app-task-detail 
    *ngIf="selectedTask" 
    [task]="selectedTask" 
    (save)="onUpdate($event)" 
    (cancel)="onCancel()">
</app-task-detail>
